@media only screen and (min-width: 1400px) {
	.home__partners {
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
	    background-position: 50% -10%;
	}
	
}

/* @media only screen and (max-width: 1400px) {
	#fullpage {
		height: auto !important;
		
	}
	.section {
		display: block !important;
		float: left !important;
		width: 100% !important;
		height: auto !important;
	}
	.fp-section {
		position: relative !important;
	}
	.fp-tableCell {
		float: left;
		width: 100%;
		display: block;
	}
} */

@media only screen and (max-width: 1024px) {
	.home__partners {
        background-size: 100%;
        background-position: 50% 0;
	}
}

@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 770px) {
	
}

@media only screen and (max-width: 736px) {
	
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	
}