.navigation {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 15px;
	z-index: 9999;
	color: #FFF;
	&_pages {
		z-index: 1;
		margin-bottom: 15px;
	}
	&__menu {
		float: right;
		position: relative;
		li {
			float: left;
			margin: 0 25px;
			a {
				font-family: $m;
				text: #fff uppercase 15px;
				letter-spacing: 2px;
			}
		}
		&_toggle {
			float: right;
			size: 45px 35px;
			position: relative;
			margin-top: 5px;
			display: none;
			span {
				position: absolute;
				left: 0;
				top: 50%;
				size: 100% 4px;
				-webkit-border-radius: 2px;
				        border-radius: 2px;
				background-color: #FFF;
				margin-top: -2px;
				@include transition(.4s);
			}
			&:before, &:after {
				content: "";
				position: absolute;
				size: 100% 4px;
				-webkit-border-radius: 2px;
				        border-radius: 2px;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				left: 0;
				background-color: #FFF;
				@include transition(.4s);
			}
			&:before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
			&_active {
				span {
					display: none;
					@include transition(.6s);					
				}
				&:before {
					top: 50%;
			        transform: rotate(225deg) translateY(-50%);
				}
				&:after {
					bottom: 50%;
			        transform: rotate(-225deg) translateY(50%);
				}
			}
		}
	}
	&__logo {
		float: left;
		margin-top: 10px;
		margin-right: 15px;
		svg {
			float: left;
			width: 250px;
			height: auto;
		}
		h3 {
			margin: 0;
			font-family: $b;
			text: uppercase 36px;
			float: left;
		}
	}
	&__lang {
		display: none;
		float:right;
		width: 40px;
		margin: 20px 0;
		&_active {
			position: relative;
			float: left;
			width: 100%;
			padding-left: 5px;
			font-family: $b;
			text: #fff uppercase 15px;
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				border-top: 5px solid #fff;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
			}
		}
		&_list {
			display: none;
			padding: 0;
			li {
					float: left;
					width: 100%;
					margin: 0;
					a {
						padding-left: 5px;
						float: left;
						width: 100%;
						font-family: $b;
						text: #fff uppercase 15px;
						&:hover, &:focus {
							background-color: $blue;
						}
					}
			}
		}
	}
}
