
$red: #E1332D;
$white: #fff;

/* mouse anaimtion */

.mouse {
  width: 22px;
  position: absolute;
  height: 42px;
  border-radius: 15px;
  border: 2px solid white;
  bottom: 40px;
  right: 5px;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 68px;
    background-color: #40f389;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.scroll {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 3px;
  border-radius: 4px;
  background: white;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}


@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}


* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease-in-out;
}


